/*** Couleur Bonne Fabrique ***/
$lbf: rgb(94,75,153);
$brasserie: rgb(252,198,45);
$coworking: rgb(75,188,196);
$atelier: rgb(238,115,46);
$jardin: rgb(147,192,33);
$grisLBF: rgb(92,92,92);

.btn-space {
    margin-right: 5px;
}

.btn-spaceTop {
    margin-top: 5px;
}

.spaceTop {
    margin-top: 5px;
}